---
import NextjsIcon from 'components/common/icons/NextjsIcon.astro'
import TypescriptIcon from 'components/common/icons/TypescriptIcon.astro'
import FirebaseIcon from 'components/common/icons/FirebaseIcon.astro'
import TailwindIcon from 'components/common/icons/TailwindIcon.astro'
import NodeIcon from 'components/common/icons/NodeIcon.astro'

const projects = [
    {
      title: 'La Casa de mi Padre',
      description: 'Sitio web representativo cristiano con blog y sistema de reservaciones.',
      imgSrc: '/images/project1.webp',
      href: 'https://lcpcaracas.org',
      repository: 'https://github.com/kevelscy/lcpcaracas',
      techIcons: [
        NextjsIcon,
        TypescriptIcon,
        TailwindIcon,
        FirebaseIcon,
      ]
    },
    {
      title: 'Ecommerce Dashboard',
      description: '(UI/UX) Panel adminsitrativo y gestion de un ecommerce (graficos, y modulos tipicos).',
      imgSrc: '/images/project2.png',
      href: 'https://dashboard-bice-delta.vercel.app/dashboard',
      repository: 'https://github.com/kevelscy/ecommerce-dashboard',
      techIcons: [
        NextjsIcon,
        TypescriptIcon,
        TailwindIcon,
        NodeIcon,
      ]
    },
  ]
---

<div class='mt-20' id='projects'>
  <span class='text-4xl font-black'>Mis Proyectos</span>
  <br /><br /><br />

  <ul class='w-full flex flex-wrap justify-start items-start gap-x-4 gap-y-4'>
    {
      projects.map(project => (
        <li class='rounded-md p-6 border-2 border-dashed border-blue-500 bg-blue-50 sm:max-w-[276px] w-full h-[368px]'>
          <article>
            <a
              href={project.href}
              target='_blank'
              rel='noopener noreferrer'
            >
              <picture>
                <img
                  src={project.imgSrc}
                  alt='kevin'
                  class='object-cover w-full h-28 rounded-sm'
                />
              </picture>
            </a>

            <section class='mt-2'>
              <a
                href={project.href}
                target='_blank'
                rel='noopener noreferrer'
                class='text-xl font-black hover:text-blue-500 project__description--truncate whitespace-nowrap'
              >
                {project.title}
              </a>
            </section>

            <section class='w-full mt-2'>
              <ul class='w-full flex items-center gap-x-3'>
                { project.techIcons.map(icon => <li>{<icon />}</li>) }
              </ul>
            </section>

            <section class='mt-4'>
              <p class='project__description--truncate'>{project.description}</p>
            </section>

            <section class='mt-4 text-white flex items-center justify-center space-x-2'>
              <a
                href={project.href}
                target='_blank'
                rel='noopener noreferrer'
                class='bg-black rounded-md w-full py-1.5 px-2 text-center hover:top-1 hover:-left-1 hover:shadow-[4px_4px_0px_#61dafb]'
              >
                Ver Proyecto
              </a>
              <a
                href={project.repository}
                target='_blank'
                rel='noopener noreferrer'
                class='bg-black rounded-md w-full py-1.5 text-center hover:top-1 hover:-left-1 hover:shadow-[4px_4px_0px_#61dafb]'
              >
                Codigo
              </a>
            </section>
          </article>
        </li>
      ))
    }

    <li class='rounded-md p-6 border-2 border-dashed border-gray-500 bg-gray-100 sm:max-w-[276px] w-full h-[368px] flex justify-center items-center text-center'>
      <span class='text-2xl font-black text-gray-900'>PROXIMAMENTE</span>
    </li>
  </ul>
</div>